@import 'variables.scss';

#currency-container {
      height: 15vh;
      width: 40vw;
      overflow-y: scroll;
      padding: 2vh;
      margin: 0 auto;
      text-align: center;
      border-radius: 2%;
      margin-top: $defaultTopMargin;
      color: #D1D1D1;
      background-color: #262626;
      opacity: 0.9;
}

#currency-container::-webkit-scrollbar {
      width: 12px;               /* width of the entire scrollbar */
}
//! we will have to modify these colors to correspond to the figma design
#currency-container::-webkit-scrollbar-track {
      background: #DDDDDD;        /* color of the tracking area */
}

#currency-container::-webkit-scrollbar-thumb {
      background-color: #262626;    /* color of the scroll thumb */
      border-radius: 20px;       /* roundness of the scroll thumb */
      border: 3px solid #D7C481;  /* creates padding around scroll thumb */
}