@import url("https://rsms.me/inter/inter.css");
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 2vh;
}

.navbar li {
  padding: 3vh 0;
  width: 12vw;
  border-top: 5px solid #D7C481;
  border-radius: 10px;
  text-align: center;
  background-color: #262626;
}

.navbar li:hover {
  background-color: #484848;
  transition: 0.3s ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: #D1D1D1;
}

#currency-container {
  font-size: 60%;
  height: 15vh;
  width: 40vw;
  overflow-y: scroll;
  padding: 2vh;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 2vh;
  color: #D1D1D1;
  background-color: #262626;
  opacity: 0.9;
}

#currency-container::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

#currency-container::-webkit-scrollbar-track {
  background: #DDDDDD; /* color of the tracking area */
}

#currency-container::-webkit-scrollbar-thumb {
  background-color: #262626; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid #D7C481; /* creates padding around scroll thumb */
}

.jumbotron {
  width: 45%;
  height: 50%;
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 10px;
  background-color: #DDDDDD;
}

.yellow-container {
  position: absolute;
  top: 45vh;
  height: 40vh;
  width: 100vw;
  background-color: #D7C481;
  z-index: -1;
  background-image: url("../img/line-vector-pattern.png");
}

.container, .jumbotron {
  display: flex;
  flex-direction: row;
}

#convert-img {
  height: 40px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

#convert-img:hover {
  background-color: #D7C481;
  border-radius: 10px;
  padding: 2px;
}

.jumb-container {
  padding-top: 5vh;
}

.jumb-container > h4 {
  text-align: center;
  font-weight: 500;
}

.jumb-container:first-child {
  width: 50%;
}

.jumb-container:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

#converter-container {
  text-align: center;
  padding: 8vh 0 8vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#converted-container {
  text-align: center;
  padding: 0 0 8vh 0;
}

#exchange-1 {
  height: 200px;
}

.footer {
  color: #D1D1D1;
  text-align: center;
  margin-top: 30vh;
}

.logo {
  position: absolute;
  height: 50px;
  left: 10vw;
}

#amount {
  width: 100px;
}

#from-currency {
  width: 40px;
}

#to-currency {
  width: 40px;
}

.jumbotron-input {
  height: 2rem;
  border-radius: 10px;
  border: 0;
  text-align: center;
}

@media screen and (max-width: 1244px) {
  .navbar {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1115px) {
  #exchange-1 {
    height: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .navbar {
    font-size: 0.6rem;
  }
  #exchange-1 {
    display: none;
  }
  .container, .jumbotron {
    flex-direction: column;
    align-items: center;
  }
  #converter-container input {
    margin-top: 5px;
  }
}
@media screen and (max-width: 830px) {
  #exchange-1 {
    height: 30%;
  }
}
@media screen and (max-width: 750px) {
  .navbar {
    visibility: hidden;
  }
  #exchange-1 {
    display: none;
  }
  .container, .jumbotron {
    flex-direction: column;
    align-items: center;
  }
}
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
}

body div:nth-child(3) > h2 {
  text-align: center;
}

.convert-arrow {
  font-size: 2rem;
  font-weight: bolder;
}

#hidden-arrow {
  display: none;
}

.my-button {
  background-color: #D7C481;
  border-radius: 10px;
  padding: 5px;
  border: 0;
  color: #191919;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.my-button:hover {
  color: #D7C481;
  background-color: #191919;
}/*# sourceMappingURL=style.css.map */