.yellow-container {
      position: absolute;
      top: 45vh;
      height: 40vh;
      width: 100vw;
      background-color: #D7C481;
      z-index: -1;
      background-image: url("../img/line-vector-pattern.png");
}